/* Root em and container */
html{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}
 /* Tablet Container */
@media only screen and (max-width:1024px){
  .container{
    max-width:100%;
    margin: 0 auto;
  }
}
 /*Mobile Container */
@media only screen and (max-width:480px){
  .container{
    max-width: 100%;
    margin: 0 auto;
  }
}

/* Header */
#company{
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*display: flex;*/
}
  /*Tablet BG Img */
@media only screen and (max-width:1024px) {
  #company{
    height:22rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
 /*Mobile BG Img */
@media only screen and (max-width:480px){
 #company{
   height: 17rem;
   background-position: 20%;
   background-repeat: no-repeat;
   background-size: cover;
 }
}

.header{
  background-color: cadetblue;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}
 /* Tablet Header */
@media only screen and (max-width:1024px) {
  .header{
    position: relative;
    top:0rem;
    width:100%;
  }

}
 /*Mobile Header */
@media only screen and (max-width:480px){
  .header{
    position: relative;
    top: 0rem;
  }
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height:1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
 /*Mobile Header */
@media only screen and (max-width:480px){
  .logo p{
     display: none;
   }
}

 .desktop{
   display: flex;
   justify-content: flex-end;
 }

 .desktop ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 li{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
 }
 /* Mobile Navigation */
 @media only screen and (max-width:480px){
   .desktop{
     display: none;
   }
 }

 .mobile{
   display: none;
 }
  /*Mobile Navigation */
 @media only screen and (max-width:480px){
   .mobile{
     display: block;
     text-align: right;
   }
 }

 .main_banner{
   float:right;
   background-color: white;
   font-weight: bold;
   font-size: 2rem;
   line-height: 2.4rem;
   margin-top: 10rem;
   padding: 1.5rem 5rem;
   width: 45%;
 }

   /* Main Banner Tablet */
 @media only screen and (max-width:1024px){
   .main_banner{
     font-size: 1.33rem;
     padding: 0.75rem 4rem;
     margin: 5rem 2rem 0rem 0rem;
   }
 }
  /*Main Banner Mobile */
 @media only screen and (max-width:480px){
  .main_banner{
     margin: 9rem auto;
     width:100%;
     padding: 1rem auto;
     text-align: center;
     font-size: 1rem;
   }
 }

 /* Icons */
 #icons{
   display: flex;
   justify-content: center;
 }
 /*Icons Tablet */
 @media only screen and (max-width:1024px){
   #icons{
     margin: 0 auto;
   }
 }

  /*Mobile Icons */
  @media only screen and (max-width:480px){
    #icons{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin:3.77rem auto;
    }

  }

  #exams, #fittings, #delivery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  height:8rem;
}

 /*Mobile Icons */
@media only screen and (max-width:480px){
#exams, #fittings, #delivery{
margin-top: 1.54rem;
}

#exams p, #fittings p, #delivery p{
  font-size: 0.77rem;
}
}

 #exams img{
   width:3.5rem;
 }

#fittings img, #delivery img{
  width:5rem;
}

/* Philosophy and Appointments */
#details{
  display: flex;
  justify-content: center;
}

 /* Tablet Details */
@media only screen and (max-width:1024px) {
  #details{
    margin: 0 auto;
  }

}

/*Mobile Details */
@media only screen and (max-width:480px){
  #details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
}

#philosophy, #appointments{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:35%;
}


#appointments{
  margin-left: 5%;
}

/* Mobile Philosophy and Appointments */
@media only screen and (max-width:480px){
  #philosophy, #appointments{
    width:100%;
  }

 #appointments{
   margin-top: 4rem;
 }

  #philosophy p, #appointments p{
    margin-top: 1rem;
    font-size: 0.77rem;
  }

}

.title{
  background-color: cadetblue;
  color:white;
  padding:0.5rem 1.25rem;
  margin-bottom: 1rem;
}

 /*Mobile Title */
 @media only screen and (max-width:480px){
   .title{
     width:100%;
     text-align: center;
   }
 }

/* Footer */

.bottom{
  display: flex;
  background-color: azure;
  margin-top: 5rem;
}

/* Mobile Bottom*/
@media only screen and (max-width:480px){
  .bottom{
    width:100%;
  }
}

.black-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.black-logo img{
  height:1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

 /*Mobile Black logo */
 @media only screen and (max-width:480px){
 .black-logo img{
   display: block;
   margin:0 auto;

 }

 .black-logo p{
   display: none;
 }
}
