/* Root em and container */
html{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width:1024px){
  .container{
    max-width:100%;
    margin: 0 auto;
  }
}

/* Header */
#company{
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:1024px) {
  #company{
    height:22rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
.header{
  background-color: cadetblue;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

@media only screen and (max-width:1024px) {
  .header{
    position: relative;
    top:0rem;
  }

}
.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height:1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

 ul{
   display: flex;
   flex-direction: row;
 }

 li{
  padding: 1rem 2rem;
 }

 #mobile-navigation{
   display: none;
 }

 .main_banner{
   background-color: white;
   font-weight: bold;
   font-size: 2rem;
   line-height: 1.2rem;
   margin-top: 10rem;
   padding: 1.5rem 5rem;
   width: 45%;
 }

 /* Icons */
 #icons{
   display: flex;
   justify-content: center;
 }

#exams, #fittings, #delivery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  height:8rem;
}

 #exams img{
   width:3.5rem;
 }

#fittings img, #delivery img{
  width:5rem;
}

/* Philosophy and Appointments */
#details{
  display: flex;
  justify-content: center;
}

#philosophy, #appointments{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:35%;
}

#appointments{
  margin-left: 5%;
}

.title{
  background-color: cadetblue;
  color:white;
  padding:0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Footer */

.bottom{
  display: flex;
  background-color: azure;
  margin-top: 5rem;
}

.black-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.black-logo img{
  height:1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
